<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://desarrollo.is.escuelaing.edu.co:3306/coswg2</property>
    <property name="hibernate.connection.username">coswg2</property>
    <property name="hibernate.connection.password">coswg20215</property>
    <mapping class="com.tservice.Model.Eventos"/>
    <mapping class="com.tservice.Model.Noticias"/>
    <mapping class="com.tservice.Model.Carreras"/>
    <mapping class="com.tservice.Model.Materias"/>
    <mapping class="com.tservice.Model.Grupos"/>
    <mapping class="com.tservice.Model.Mensajes"/>
    <mapping class="com.tservice.Model.Usuarios"/>
    <mapping class="com.tservice.Model.Intereses"/>
    <mapping class="com.tservice.Model.Ubicacion"/>
    <mapping class="com.tservice.Model.Calificacion"/>
    
  </session-factory>
</hibernate-configuration>
