<div>
<table width="100%" ng-app ng-controller="Oferta as of" ng-init="of.consultar()">
        <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Espere un momento
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div  class="progress-bar progress-bar-striped active" role="progressbar"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <tr>
        <td colspan="2">
            <div class="container-fluid" >
            <h1>Ofertas</h1>
            <br>
            <div class="container-fluid" >
                <ul class="nav nav-tabs">
                    <li role="presentation"  ng-hide="of.habilitar.hideAdicionar" ng-click="of.registro()" ><a>Adicionar</a></li>
                    <li role="presentation" ng-hide="of.habilitar.hideSelecionarEmpleado" ng-click="of.seleccionarEmpleado()"><a>Seleccionar empleado</a></li>
                    <li role="presentation" ng-hide="of.habilitar.hideCalificar" ng-click="of.calificar()"><a>Calificar oferta</a></li>
            </ul>
            <br>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <div class="container-fluid" >
                    <table width="100%">
                    <tr>
                        <td style="aling:right" width="50%">
                            Ofertas
                        </td>
                        <td  style="aling:left" width="50%" >
                        <select id="referenceslist" class="input-large" ng-model="OptionOf" ng-change="of.cargarOferta()" >
                            <option ng-repeat="ofer in ofertasG">{{ofer.id}}-({{ofer.descripcion}})</option>
                        </select>
                        
                    <td>
                    </tr>
                 </table>   
            </div>        
          </td>
        </tr>
        <tr>
        <tr><td><br></td></tr>
        <tr><td><br></td></tr>
            <td colspan="2">
                        <div class="container-fluid">
                            <table class="table" width="100%">
                                <tr>
                                    <td width="45%" valign="top" >
                                <div class="panel panel-default">
                              
                                  <div class="panel-heading" >Postulantes</div>
                                     <table class="table" >
                              
                                 <thead>
                                 <th></th>
                                 <th>NDoc</th>
                                 <th>Nombre</th>
                                
                                 </thead>
                                 <tbody>
                                     <tr ng-repeat="oft in of.Oferta.postulantes">
                                         <td><input type="radio" name="radAnswer" value={{oft.identificacion}} /> </td>
                                         <td>{{oft.identificacion}}</td>
                                         <td>{{oft.nombre}}</td>
                                     </tr>
                                 </tbody>
                             </table>
                       </td>
                       <td width="10%">
                           
                       </td>
                        <td width="45%">
                            <div class="panel panel-default">
                                <div class="panel-heading">Información
                                 <table class="table">
                              
                                <tr>
                                    <td>Fecha Creación</td>
                                    <td><input type="date" ng-model="of.Oferta.fechaCreacion" required></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                <tr>
                                    <td>Fecha Finalización</td>
                                    <td><input type="date" ng-model="of.Oferta.fechaFinalizacion" required></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                <tr>
                                    <td>Identificación Trabajador</td>
                                    <td><input type="text" ng-model="of.Oferta.postulante.identificacion" required></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                    <tr>
                                    <td>Nombre Trabajador</td>
                                    <td><input type="text" ng-model="of.Oferta.postulante.nombre" required></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                            
                                <tr>
                                    <td>Descripción</td>
                                    <td><textarea name="Descripcion" ng-model="of.Oferta.descripcion" rows="4" cols="17">
                                        </textarea></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                <tr>
                                    <td>Categoría</td>
                                    <td><select name="Categorias" >
                                            <option ng-repeat="cat in of.Categorias">
                                                {{ cat.nombre }}
                                            </option>
                                         </select></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                <tr>
                                    <td>Valor</td>
                                    <td><input type="number" name="Valor" ng-model="of.Oferta.valor" /></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                <tr>
                                    <td>Estado</td>
                                    <td><select name="Estados" id="ofEstado" ng-model="of.Oferta.estado" >
                                            <option>Disponible</option>
                                            <option>Terminado</option>
                                            <option>Pausado</option>
                                        </select></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                <tr>
                                    <td>Calificacion Rango</td>
                                    <td><input type="number" name="Valor" ng-model="of.Oferta.calificacion.rango" />
                                         </td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                 <tr>
                                    <td>Calificacion Valor</td>
                                    <td><input type="number" name="Valor" ng-model="of.Oferta.calificacion.valor" /></td>
                                </tr>
                                <tr><td colspan="2"><br></td></tr>
                                 <tr>
                                    <td>Calificacion Comentario</td>
                                    <td><textarea name="Descripcion" ng-model="of.Oferta.calificacion.comentario" rows="4" cols="17">
                                        </textarea></td>
                                </tr>
                  
                                    
                            </table>
                             </div>
                            </div>
                        </td>
                    </tr>
                    
                    
                </table>
                
            </div>
          </td>
               
    </tr>
    </table>
    </div>