
<div class="container">
    <h1>  </h1>
      <div class="container">
            <div class="panel, well-sm" ng-controller="PagoLicencia as pagos" ng-init="pagos.TraerLicencias()">
                    <div class="panel panel-default">
                                <div class="panel-heading">Pago de licencias
                                 <table class="table">
                              
                                <tr>
                                    <td width="50%"><b>Número tarjeta crédito: </b></td>
                                    <td width="50%"><input type="text" name="fname" class="form-control" ng-model="pagos.pago.numeroTarjeta"><br></td>
                                </tr>    
                                <tr>
                                    <td width="50%"><b>Tipo Tarjeta</b></td>
                                    <td width="50%"><select name="TipoTarjeta" ng-model="pagos.pago.nombreTarjeta">
                                    <option>Visa</option>
                                    <option>Mastecard</option>
                                </select>
                            <br></td>
                                </tr>    
                        <tr>
                                    <td width="50%"><b>Codigo de Seguridad</b>  </td>
                                    <td width="50%"><input type="text" name="lcant" class="form-control" ng-model="pagos.pago.codigoSeguridad"><br></td>
                                </tr>    
                        <tr>
                                    <td width="50%"><b>Tipo de Licencia</b></td>
                                    <td width="50%"><select ng-model="pagos.licencia" >
                                <option ng-repeat="lic in licencias">{{lic.idLicencias}}-{{lic.descripcion}}</option>
                            </select></td>
                                </tr>
                                <tr>
                                    <td colspan="2" width="100%">
                                        <button ng-click="pagos.pagarLicencia()" class="btn btn-default" type="submit">Pagar</button>
                                    </td>
                                </tr>
                                </table>
                        
            </div>
        </div>    
</div>
 </div>
 <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Espere un momento
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div  class="progress-bar progress-bar-striped active" role="progressbar"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>   